/*/ Extra small devices (portrait phones, less than 576px)*/

@media (max-width: 575.98px) {

    .main-logo {
        margin: 0px 0;
    }

    /*    upper header*/
    .fastContactHeader ul li a {
        padding: 5px;
    }
    .fastContactHeader {
        text-align: center;
        margin-top: 10px;
    }
    .singInorLogin ul li a {
        padding: 5px;
    }
    .singInorLogin {
        text-align: center;
        margin-top: 2px;
        margin-bottom: 5px;
    }
/*logInform*/
    #templatesignUp .modal-content, #templatelogIn .modal-content{
        width: 92%;
        margin-left:2%;
    }



    .search-box input[type="search"] {
        width: 60%;
        font-size: 13px;
    }
    .search-box button i.fa {
        font-size: 10px;
    }
    .home-slide .owl-nav div {
        left: 5px;
        background: none;
        top: 55%;
    }
    .home-slide .owl-nav .owl-next {
        right: 5px;
    }
    .home-slide .owl-nav div i.fa {
        font-size: 20px;
    }
    .slide-text {
        padding: 10px;
    }
    .slide-text h2 {
        font-size: 20px;
    }

    ul.menu li a i.fa {
        display: none;
    }
    .hero-slider-area {
        height: 425px;
    }

    .single-slide-item {
        height: 425px;
    }

    .service-box-bg {
        height: 250px;
    }
    .service-description {
        height: 300px;
    }
    .service-description h4 {
        font-size: 18px;
        font-weight: 700;
    }
    .slide-text p{
        line-height: 20px;
        font-size: 15px;
    }
    
/*    sliderBtn*/
    .heroSliderBtn a.firstBtn, .heroSliderBtn a.secondtBtn{
        font-size: 10px;
        padding: 10px 12px;
        margin: 5px 12px;
    }

    /*    section-paddin*/
    .section-title {
        padding: 20px 0;
    }
    .section-padding {
        padding: 15px;
    }
    .project-wrap-btn{
        padding: 10px;
    }
    .single-project-done p {
        font-size: 14px;
        font-weight: 600;
    }
    .single-project-done h2 {

        font-size: 14px;

    }
    .single-project-done {
        padding-bottom: 13px;
    }
    .single-project-done i.fa {
        font-size: 25px;
        height: 70px;
        width: 70px;
        line-height: 70px;
    }
    .section-title h2 {
        font-size: 20px;
    }
    section.section-padding.testimonial-area h2 {
        font-size: 18px;
    }
    .border-for-testimonial {
        height: 170px;
        width: 170px;
        padding: 8px;
    }
    .testimonial-image {
        height: 150px;
        width: 150px;
    }
    .testimonial-details p{
        font-size: 12px;
    }
    .news-letter h4 {
        bottom: 59%;
        left: 11%;
        font-size: 18px;
        transform: rotate(0deg);
        padding-bottom: 8px;
    }
    .news-letter form input {
        width: 80%;
        font-size: 20px;
        padding: 8px;
    }
    .news-letter button {
        font-size: 20px;
        padding: 8px;

    }
    .news-letter {
        padding: 40px 0;
        text-align: center;
    }
    .message-sect h2 {
        font-size: 18px;
        text-align: center;
    }
    .message-sect form input:nth-child(1),
    .message-sect form input:nth-child(2) {
        width: 100%;
    }
    .message-sect form input:nth-child(2) {
        margin-left: 0;
    }
    .single-footer-item {
        text-align: justify;
    }
    .footer-log {
        text-align: center;
        margin: inherit;
    }
    .copy-right {
        text-align: center;
    }
    .testing-div a > img {
        max-width: 100%;
        min-height: 150px;
    }
    .testing-div {
        max-width: 50%;
    }
    ul.image-filtering-btn li {
        font-size: 12px;
        padding: 8px;
    }
    .testing-div img.project-img {
        min-height: 120px;
    }
    .testing-div .project-overlay a{
        font-size: 20px;
        margin-top: 0;
    }
    
    
/*    404page*/
    .main-404Wrap h1{
        font-size: 130px;    
    }


}


/*Small devices (landscape phones, 576px and up)*/

@media (min-width: 0px) and (max-width: 767.98px) {
    .responsive-menu-wrap .slicknav_menu {
        display: block;
        background: transparent;
        position: absolute;
        top: 4px;
        right: 0;
        width: 60%;
    }
    
    
    .home-slide.owl-carousel.owl-loaded.owl-drag .owl-nav button{
       font-size: 30px;
    }
    .home-slide.owl-carousel.owl-loaded.owl-drag .owl-nav button span{
        padding: 5px 15px;
    }
    /*    searchbox*/
    li.topSearchBoxClose a{
        right: 90%;
    }
    form.topSearchBox input[type="search"]{
        height: 54px;
    }
    form.topSearchBox.active{
        right: 6px;
        width: 90%;
    }
    /*    upper header*/
    .fastContactHeader ul li a {
        padding: 5px;
    }
    .fastContactHeader {
        text-align: center;
        margin-top: 10px;
    }
    .singInorLogin ul li a {
        padding: 5px;
    }
    .singInorLogin {
        text-align: center;
        margin-top: 2px;
        margin-bottom: 5px;
        border-top: 1px dashed;
    }
    li.topSearchBoxClose a i.fa{
        padding: 18px;
    }
    .singInorLogin ul span li a{
        padding: 21px 8px;
    }
    .main-logo {
        width: 30%;
        height: 60px;
    }
    .sticky .main-logo {
        height: 60px;
    }
    .main-menu {
        display: none;
    }
    .slicknav_btn {
        background: transparent;
    }
    .slicknav_menu .slicknav_menutxt {
        display: none;
    }
    .slicknav_menu .slicknav_icon-bar {
        font-size: 140%;
        color: #707070;
    }
    .sticky .main-logo .responsive-menu-wrap .slicknav_menu .slicknav_icon-bar {
        font-size: 140%;
        color: #707070;
    }
    .row.main-menu-bg.sticky ul li a {
        color: #fff;
    }
    .slicknav_nav ul {
        background: #707070;
        margin-top: 10px;
    }
    .main-menu ul.menu li a {
        padding: 13px 8px;
        font-size: 12px;
    }
    .slicknav_nav .slicknav_row,
    .slicknav_nav a {
        margin: 1px 0;
        border-top: 1px solid #000;
    }
    .row.main-menu-bg.sticky ul li a {
        padding: 8px;
    }
    .row.main-menu-bg.sticky ul li a:hover {
        background: #707070;
    }
    .row.main-menu-bg ul li a:hover {
        background: #707070;
    }
    .search-box input {
        width: 80%;
    }

    .main-logo {
        margin: 0;
    }
    .slide-text h2 {
        font-size: 25px;
    }

    .timelin-main {
        padding: 75px 10px;
    }
    .timelin-main li > div {
        width: 100%;
        padding: 40px 10px;
        text-align: center;
        box-shadow: none;
    }
    .timelin-main li:before {
        top: 0;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }

    .timelin-main li:nth-child(odd):before,
    .timelin-main li:nth-child(even):before {
        margin-top: -7px;
    }

    .timelin-main li:nth-child(odd) > div:before,
    .timelin-main li:nth-child(even) > div:before {
        bottom: -8px;
        left: 50%;
        top: auto;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);

    }
    .timelin-main li:nth-child(even) > div:before {}
    .timelin-main li > div:after {
        display: none;
    }

    .timelin-main li {
        margin: 65px 0;
    }
    .timelin-main li:nth-child(even) {
        margin-top: 0;
    }
    .timelin-main li:first-child {
        margin-top: 0;
    }
    .timelin-main li:last-child {
        margin-bottom: 0;
    }
    .testing-div {
        max-width: 50%;
    }
    ul.image-filtering-btn li {
        font-size: 12px;
        padding: 8px;
        margin-bottom: 10px;
    }
    .testing-div img.project-img {
        min-height: 150px;
    }
    .testing-div .project-overlay {
        padding-top: 30px;
    }
    .testing-div .project-overlay h4 {
        font-size: 18px;
    }
    .testing-div .project-overlay p {
        font-size: 14px;
    }
    
    
    
    
    
/*    blog*/
    .singleBlogItem:hover .blogImageOverlay{
        height: 62%;
        text-align: center;
    }
    
    
    
    
    
}

/*// Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) and (max-width: 991.98px) {

    /*    searchbox*/
    li.topSearchBoxClose a{
        right: 90%;
        padding: 16px !important;
    }
    

    .main-logo {
        margin: 0px 0px;
        height: 80px;
    }


    /*    upper header*/
    .fastContactHeader ul li a {
        padding: 5px;
    }
    .fastContactHeader {
        text-align: center;
        margin-top: 10px;
    }
    .singInorLogin ul li a {
        padding: 5px;
    }
    .singInorLogin {
        text-align: center;
        margin-top: 12px;
        margin-bottom: 5px;
    }
    .search-box input {
        width: 80%;
    }
    .main-menu ul.menu li a {
        padding: 31px 8px;
        font-size: 12px;
    }
    .row.main-menu-bg.sticky ul li a {
        padding: 32px 12px;
        font-size: 11px;
    }
    .testing-div a > img {
        max-width: 100%;
        min-height: 150px;
    }
    .testing-div {
        max-width: 25%;
    }




}

/*// Large devices (desktops, 992px and up)*/

@media (min-width: 992px) and (max-width: 1199.98px) {
    .message-sect form input:nth-child(1),
    .message-sect form input:nth-child(2) {
        width: 47%;
    }

    
    .news-letter h4 {
        left: -37%;
    }
    .section-title {
        padding: 50px 0;
    }
    .testimonial-details:hover {
        transform: scale(.8);
    }
    .main-menu ul.menu li a {
        padding: 30px 15px;
    }
    .main-logo {
        padding: 0;
        height: 80px;
    }

    .row.main-menu-bg.sticky ul li a {
        padding: 30px 15px;
    }
    .testing-div {
        max-width: 25%;
    }

}
